

@media screen and (max-width: 56.938em) {
    .logo{
        font-size: 2rem;
        font-weight: bold;
    }

    #about {
        text-align: start;
    }
    
    .zodiac-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 50em){
    .logo{
        font-size: 2em;
    }

    .cards-atuacao {
        flex-direction: column;
        align-items: center;
      }
    
      .card-atuacao {
        width: 90%;
      }
  
      #backToTop {
          display: block;
        }

       .btn-whatsapp{
        margin-top: 10%;
       } 

        .zodiac-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    }


@media screen and (min-width: 48em) {
    .btn-whatsapp{
        display: none;
    }

    .menu-toggle{
        display: none;
    }
}

@media screen and (max-width: 48em) {
    .logo{
        font-size: 1rem;
        font-weight: bold;
    }

    .menu-desktop li{
        display: none;
    }
    
    #about{
        width: 80%;
    }

    #about p{
        text-align: left;
    }
    
    .zodiac-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px;
        max-width: 80%;
        margin: auto;
        -webkit-tap-highlight-color: transparent; 
        user-select: none; 
        touch-action: manipulation; 
    }

    .btn-whatsapp{
        margin: 10% auto;
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    #numerologia p {
        padding: 0 1.5rem;
        text-align: center;
    }

    .numerology-container{
        width: 80%;
        margin-top: 2.5rem;
    }
}

@media screen and (max-width: 40em) { 
    .zodiac-cards{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 35px;
        max-width: 60%;
        margin: auto;
        -webkit-tap-highlight-color: transparent; 
        user-select: none; 
        touch-action: manipulation; 
}


}





